<p style="color: green"><%= notice %></p>
<%= link_to  "home", home_index_path %>  <%= link_to "New post", new_post_path %>
<h1>Posts</h1>

  <% @posts.each do |post| %>
  <div class="card" style="border:1px solid black; border-radius:15px; color:black; width:600px">
  <div id="posts" class="card-body" style="text-align:center">
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
    </div>
    </div>
  <% end %>



